USE [DOANWEB_QLCUAHANGDIENMAY]
GO
/****** Object:  Table [dbo].[CHITIETHOADON]    Script Date: 12/30/2020 7:13:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHOADON](
	[MAHD] [int] NOT NULL,
	[MASP] [nvarchar](10) NOT NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [float] NULL,
	[THANHTIEN] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 12/30/2020 7:13:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [int] IDENTITY(1,1) NOT NULL,
	[NGAYHOADON] [date] NULL,
	[MAKH] [int] NULL,
	[NGAYGIAO] [date] NULL,
	[TONGTIEN] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 12/30/2020 7:13:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [int] IDENTITY(1,1) NOT NULL,
	[TENKH] [nvarchar](500) NULL,
	[TENDN] [nvarchar](50) NULL,
	[SDT] [nvarchar](12) NULL,
	[DIACHI] [nvarchar](500) NULL,
	[MATKHAU] [nvarchar](20) NULL,
	[MALOAI] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAITAIKHOAN]    Script Date: 12/30/2020 7:13:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAITAIKHOAN](
	[MALOAI] [nvarchar](10) NOT NULL,
	[TENLOAI] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAITHIETBI]    Script Date: 12/30/2020 7:13:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAITHIETBI](
	[MATHIETBI] [nvarchar](10) NOT NULL,
	[TENTHIETBI] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[MATHIETBI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHASANXUAT]    Script Date: 12/30/2020 7:13:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHASANXUAT](
	[MANSX] [nvarchar](10) NOT NULL,
	[TENNSX] [nvarchar](500) NULL,
	[DIACHI] [nvarchar](500) NULL,
	[SDT] [nvarchar](12) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANSX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 12/30/2020 7:13:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [nvarchar](10) NOT NULL,
	[TENSP] [nvarchar](500) NULL,
	[DONGIA] [float] NULL,
	[MOTA] [nvarchar](1500) NULL,
	[SOLUONG] [int] NULL,
	[HINH] [nvarchar](500) NULL,
	[DSHINH] [nvarchar](500) NULL,
	[GIAMGIA] [float] NULL,
	[MANSX] [nvarchar](10) NULL,
	[MATHIETBI] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TINTUC]    Script Date: 12/30/2020 7:13:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TINTUC](
	[MATIN] [int] IDENTITY(1,1) NOT NULL,
	[TENTIN] [nvarchar](500) NULL,
	[DUONGDAN] [nvarchar](500) NULL,
	[HINH] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[MATIN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[CHITIETHOADON] ([MAHD], [MASP], [SOLUONG], [DONGIA], [THANHTIEN]) VALUES (1, N'SP002', 2, 10490000, 20980000)
INSERT [dbo].[CHITIETHOADON] ([MAHD], [MASP], [SOLUONG], [DONGIA], [THANHTIEN]) VALUES (1, N'SP003', 1, 9490000, 9490000)
INSERT [dbo].[CHITIETHOADON] ([MAHD], [MASP], [SOLUONG], [DONGIA], [THANHTIEN]) VALUES (2, N'SP003', 1, 10590000, 10590000)
SET IDENTITY_INSERT [dbo].[HOADON] ON 

INSERT [dbo].[HOADON] ([MAHD], [NGAYHOADON], [MAKH], [NGAYGIAO], [TONGTIEN]) VALUES (1, CAST(N'2020-07-20' AS Date), 2, CAST(N'2020-07-28' AS Date), 32575000)
INSERT [dbo].[HOADON] ([MAHD], [NGAYHOADON], [MAKH], [NGAYGIAO], [TONGTIEN]) VALUES (2, CAST(N'2020-12-30' AS Date), 1, CAST(N'2021-01-07' AS Date), 10590000)
INSERT [dbo].[HOADON] ([MAHD], [NGAYHOADON], [MAKH], [NGAYGIAO], [TONGTIEN]) VALUES (3, CAST(N'2020-12-30' AS Date), 1, CAST(N'2021-01-10' AS Date), 21180000)
SET IDENTITY_INSERT [dbo].[HOADON] OFF
SET IDENTITY_INSERT [dbo].[KHACHHANG] ON 

INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [TENDN], [SDT], [DIACHI], [MATKHAU], [MALOAI]) VALUES (1, N'Cai Bảo Toàn', N'Toan123', N'0919575428', N'262 Sơn Kỳ, Phường Tây Thạnh, Quận Tân Phú, TP.HCM', N'123', N'LTK001')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [TENDN], [SDT], [DIACHI], [MATKHAU], [MALOAI]) VALUES (2, N'Nguyễn Tấn Hải', N'Hai123', N'090582774', N'14/22 Kha Vạn Cân, Phường Hiệp Bình Chánh, Quận Thủ Đức, TP.HCM', N'123', N'LTK001')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [TENDN], [SDT], [DIACHI], [MATKHAU], [MALOAI]) VALUES (3, N'Tô Đình Nhân', N'Nhan123', N'0977568114', N'272 Lê Đức Thọ, Phường 11, Quận Gò Vấp, TP.HCM', N'123', N'LTK002')
SET IDENTITY_INSERT [dbo].[KHACHHANG] OFF
INSERT [dbo].[LOAITAIKHOAN] ([MALOAI], [TENLOAI]) VALUES (N'LTK001', N'Tài khoản khách hàng')
INSERT [dbo].[LOAITAIKHOAN] ([MALOAI], [TENLOAI]) VALUES (N'LTK002', N'Tài khoản quản lý')
INSERT [dbo].[LOAITHIETBI] ([MATHIETBI], [TENTHIETBI]) VALUES (N'L001', N'Tủ lạnh')
INSERT [dbo].[LOAITHIETBI] ([MATHIETBI], [TENTHIETBI]) VALUES (N'L002', N'Máy giặt')
INSERT [dbo].[LOAITHIETBI] ([MATHIETBI], [TENTHIETBI]) VALUES (N'L003', N'Máy sấy')
INSERT [dbo].[NHASANXUAT] ([MANSX], [TENNSX], [DIACHI], [SDT]) VALUES (N'NSX001', N'Toshiba', N'Số 12, Đường 15, Khu phố 4, Phường Linh Trung, Quận Thủ Đức, Tp. Hồ Chí Minh', N'0982177226')
INSERT [dbo].[NHASANXUAT] ([MANSX], [TENNSX], [DIACHI], [SDT]) VALUES (N'NSX002', N'LG', N'Lô CN2, KCN Tràng Duệ, xã Lê Lợi, huyện An Dương, thành phố Hải Phòng', N'099928162')
INSERT [dbo].[NHASANXUAT] ([MANSX], [TENNSX], [DIACHI], [SDT]) VALUES (N'NSX003', N'Panasonic', N'Lô J1-J2, Khu công nghiệp Thăng Long, xã Kim Chung, huyện Đông Anh, Tp. Hà Nội', N'02437677360')
GO
SET IDENTITY_INSERT [dbo].[TINTUC] ON 

INSERT [dbo].[TINTUC] ([MATIN], [TENTIN], [DUONGDAN], [HINH]) VALUES (1, N'Những nguyên nhân khiến bình gas nhà bạn phát nổ', N'https://www.dienmayxanh.com/kinh-nghiem-hay/nhung-nguyen-nhan-khien-binh-gas-nha-ban-phat-no-916098', N'hinh1.jpg')
INSERT [dbo].[TINTUC] ([MATIN], [TENTIN], [DUONGDAN], [HINH]) VALUES (2, N'Tại sao tủ lạnh lại có 2 nút điều chỉnh nhiệt độ?', N'https://www.dienmayxanh.com/kinh-nghiem-hay/tai-sao-tu-lanh-lai-co-2-nut-dieu-chinh-nhiet-do-945050', N'hinh2.jpg')
INSERT [dbo].[TINTUC] ([MATIN], [TENTIN], [DUONGDAN], [HINH]) VALUES (3, N'Kiến, côn trùng chui vào tai, cần làm ngay theo hướng dẫn sau', N'https://www.dienmayxanh.com/kinh-nghiem-hay/kien-con-trung-chui-vao-tai-can-lam-ngay-cac-hanh-1135483', N'hinh3.jpg')
SET IDENTITY_INSERT [dbo].[TINTUC] OFF
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_MAHD_HD] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_MAHD_HD]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_MASP_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_MASP_SANPHAM]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_MAKH_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_MAKH_KHACHHANG]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [FK_MALOAI_LTK] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAITAIKHOAN] ([MALOAI])
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [FK_MALOAI_LTK]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_MANSX_NSX] FOREIGN KEY([MANSX])
REFERENCES [dbo].[NHASANXUAT] ([MANSX])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_MANSX_NSX]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_MATHIETBI_LTB] FOREIGN KEY([MATHIETBI])
REFERENCES [dbo].[LOAITHIETBI] ([MATHIETBI])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_MATHIETBI_LTB]
GO
/****** Object:  Trigger [dbo].[THEMSPCTHD]    Script Date: 12/30/2020 7:13:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[THEMSPCTHD]
ON [dbo].[CHITIETHOADON]
FOR INSERT
AS
BEGIN 
	UPDATE SANPHAM
	SET SOLUONG = SOLUONG - (SELECT SOLUONG FROM inserted)
	WHERE MASP = (SELECT MASP FROM inserted)
END
GO
