@using DoAnWeb_QuanLyMatHangDienMay.Models;
@{
    ViewBag.Title = "LuuDonDatHang";
    Layout = "~/Views/Shared/_LayoutQuanLy.cshtml";
}

<h5 style="font-weight:bold">Đơn hàng của quý khách đã được ghi nhận. Chúng tôi sẽ tiến hành giao trong thời gian nhanh nhất có thể
    <br />
    Xin chân thành cảm ơn quý khách!!
</h5>
