@using DoAnWeb_QuanLyMatHangDienMay.Models;
@{
    ViewBag.Title = "ChiTietTinTuc";
    Layout = "~/Views/Shared/_LayoutQuanLy.cshtml";
}
@model TINTUC
<h4 style="text-transform: uppercase; font-weight: bold">@Model.TENTIN</h4>
<div class="container">
    <div>
        
    </div>
</div>
