@{
    ViewBag.Title = "HoTro";
    Layout = "~/Views/Shared/_LayoutQuanLy.cshtml";
}

<h5 style="text-transform: uppercase; font-weight: bold">Một số câu hỏi thường gặp</h5>

<p style="font-weight:bold; color: red">Hỏi: Giá sản phẩm bán tại Điện Máy QNN đã bao gồm thuế VAT chưa?</p>
<p>Đáp: Tất cả sản phẩm bán tại ĐMCL đều đã bao gồm thuế VAT.</p>
 
<p style="font-weight:bold; color: red">Hỏi: Làm sao biết được đơn đặt hàng thành công?</p>
<p>Đáp: Khi đặt hàng thành công quý khách sẽ nhận được email thông báo xác nhận chi tiết đơn hàng. Trong vòng 24 tiếng nhân viên gọi điện cho quý khách để xác nhận đơn hàng.
    <br /><b>Ghi chú</b>: Đối với đơn đặt hàng online trong giờ hánh chính thì chúng tôi sẽ liên hệ ngay trong ngày. Đặt hàng sau 5h chiều thì chúng tôi sẽ liên hệ vào sáng hôm sau. Đặt hàng sau 5h chiều thứ 7 và ngày chủ nhật thì liên hệ vào sáng thứ 2 tuần sau.
</p>

<p style="font-weight:bold; color: red">Hỏi:Làm sao tôi  biết được khi nào sẽ giao hàng tới nơi?</p>
<p>Đáp: Trước khi giao hàng nhân viên giao nhận của ĐMCL sẽ liên hệ với quý khách hàng trước 15 hoặc 30 phút.</p>

<p style="font-weight:bold; color: red">Hỏi: Khi nhận hàng có phải làm thủ tục gì không?</p>
<p></p>

<p style="font-weight:bold; color: red"></p>
<p>Đáp: Có. Khi nhận hàng quý khách phải kiểm tra kỹ hàng hóa, giấy bảo hành, phụ kiện và quà tặng kèm theo… và ký xác nhận. Nếu phát hiện bất kỳ lỗi sản phẩm hay sai sót gì thì phải báo ngay cho nhân viên giao nhận hoặc nhân viên bán hàng để xử lý kịp thời.
</p>

<p style="font-weight:bold; color: red">Hỏi: Khi đặt hàng thành công thì trong bao lâu sẽ nhận được hàng?
</p>
<p> 
Đáp: Đối với các khu vực trung tâm gần chi nhánh của siêu thị chúng tôi sẽ giao hàng trong ngày, còn ở xa trung tâm có thể giao hàng trong vòng 1 đến 2 ngày. Các tỉnh thành lân cận giao hàng từ 3 – 5.
<br /><b>Lưu ý</b>: Trong những ngày có chương trình KM lớn thì thời gian giao hàng có thể chậm hơn bình thường do số lượng đơn đặt hàng nhiều. Đặc biệt, nếu quý khách có nhu cầu giao hàng gấp chúng tôi có thể ưu tiên giao hàng liền cho quý khách.
</p>

<p style="font-weight:bold; color: red">Hỏi: Tôi muốn thay đổi địa chỉ nhận hàng có được không?</p>
<p>Đáp: Được. Nếu quý khách mua hàng online thì hãy liên hệ ngay với tổng đài tư vấn bán hàng (08) 3856 3388, còn mua trực tiếp tại quầy thì liên hệ tổng đài (08) 3950 5060 để chúng tôi cập nhật. Trước khi giao hàng nhân viên giao nhận sẽ gọi điện cho quý khách xác nhận thời gian và địa chỉ giao hàng lần cuối.
 </p>

