@model DoAnWeb_QuanLyMatHangDienMay.Models.TINTUC

@{
    ViewBag.Title = "themMoiTinTuc";
    Layout = "~/Views/Shared/_LayoutQuanLy.cshtml";
}

<h2 style="font-weight: bold; text-transform: uppercase">Thêm mới tin tức</h2>
<div class="container">
    <form method="post" action="/Home/themMoiTinTuc" enctype="multipart/form-data">
        <div class="form-group">
            <label>Tên tin tức</label>
            <input type="text" name="txtTen" class="form-control" placeholder="Tên của tin tức....." />
        </div>
        <div class="form-group">
            <label>Đường dẫn tin tức</label>
            <input type="text" name="txtDuongDan" class="form-control" placeholder="Đường dẫn của tin tức....." />
        </div>
        <div class="form-group">
            <label>Hình ảnh</label>
            <input type="file" name="fupload" />
        </div>
        <div class="form-group">
            <input type="submit" value="Thêm"  class="btn btn-primary"/>
        </div>
    </form>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@if (Request.HttpMethod == "POST")
{
    if (ViewBag.tb != null)
    {
    <p style="color: red; font-weight: bold; font-size: 30px">@ViewBag.tb</p>
    }
}